doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title= title
    link(rel="stylesheet", href="/assets/css/index.css")

    //- react development - https://reactjs.org/docs/getting-started.html
    script(src='https://unpkg.com/react@18/umd/react.development.js')
    script(src='https://unpkg.com/react-dom@18/umd/react-dom.development.js')

    //- react production - https://reactjs.org/docs/add-react-to-a-website.html#add-jsx-to-a-project
    script(src='https://unpkg.com/react@18/umd/react.production.min.js')
    script(src='https://unpkg.com/react-dom@18/umd/react-dom.production.min.js')

    script(src="/assets/js/jquery-3.6.1.min.js")
    script(src="/assets/js/main.js")
    script.
      (function(){
        console.log("pug to js")
      })()
  body
    h1= title
    p projectRoot = #{projectRoot}
    p.no-js No Js
    ul.sample-list
      li.sample-list__member
        a(href="#") abcdefg
    #react-root
    //-
      Note: this page is a great way to try React but it's not suitable for production.
      It slowly compiles JSX with Babel in the browser and uses a large development build of React.
      Read this section for a production-ready setup with JSX:
      https://reactjs.org/docs/add-react-to-a-website.html#add-jsx-to-a-project
      In a larger project, you can use an integrated toolchain that includes JSX instead:
      https://reactjs.org/docs/create-a-new-react-app.html
      You can also use React without JSX, in which case you can remove Babel:
      https://reactjs.org/docs/react-without-jsx.html
